#app{
    padding: 0% 8%;
}
.responsive-table {
	width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
 }
 tbody.questionStyle tr {
    line-height: 80px;
	    border-bottom: 1px solid #d7d7d7;
}
 
.que {
    padding: 0px 20px;
}
.responsive-table input.textBox {
    width: 224px;
    border-radius: 1px;
    background-color: #e7e8e9;
    box-shadow: inset 1px 1px 5px 0 rgba(16,29,38,.1);
    border: 1px solid #cfd2d3;
    font-family: Geomanist Book;
    font-size: 28px;
    line-height: 1.43;
    color: #101e26;
	float: right;
}